/* Style pour étape 3 de html 'etape3.html' */
body {
    background-color: #ddeeaa;
    margin: 10px 0;
    font: 0.8em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#conteneur {
    width: 770px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #ab4;
    
}

/* style header */

#header {
    height: 258px;
    background: url(img/apple.jpg) no-repeat left top ;
    margin: 0px;
    /* la propriete background en raccourci = the property background in shorcut */
}

#header a {
    display: block;
    width: 400px;
    height: 70px;
    background: no-repeat url(../sitePOMME/img/title.gif);
    position: relative;
    left: 350px;
    top: 15px;
    text-indent: -5000px;
} /* Indentation négative pour le masquer des visiteurs mais qu'il soit toujours lue pour les moteurs de recherche */

/* Style of navagation */

#menu {
    height: 35px;
}

ul {
    margin: 0px;
    padding: 0px;
    height: 25px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    background: url(../sitePOMME/img/bg_menu.gif) 0 -25px;
    align-items: center;
    text-align: center;
}

#menu li {
    margin-top: 0px;
    display: inline-block;
    width: 130px;
    line-height: 25px;
    font-size: 1.2em;
    border-right: 2px solid #dea;
    font-weight:bold;
    letter-spacing: 2px;

}

li a {
    text-decoration: none;
    color: honeydew;

}

#menu li a:hover  {
    background: repeat-x url(../sitePOMME/img/bg_menu.gif) 0px 0px ;

}

#contenu {
    background: no-repeat url(../sitePOMME/img/bg_page.gif) 15px 5px;
}

h2 {
    border-bottom: 2px solid #9b2;
    color: greenyellow;
}



#contenu h2 {
    padding-left: 25px;
    background: url(../sitePOMME/img/little_apple.gif) left bottom no-repeat;
    color:#9b2 ;
    line-height: 25px;
    font-size: 1.4em;
}
section#contenu {
    padding: 0px 30px 0 100px;
    
}

#contenu h3 {
    color: #9b2;
    border-bottom: 1px solid #9b2;
    border-left: 3px solid #9b2;
    border-left: 3px solid#9b2;
    margin-left: 15px;
}

#contenu p {
    text-align: justify;
    text-indent: 2em;
    line-height: 1.7em;
}

#contenu blockquote {
    padding-left: 10px;
    border-left: 2px solid #9b2;
}

#contenu #a-droite {
    text-align: right;
    color: #8a0;
   
}

#contenu a {
    text-decoration: none;
    color: #8a0;
}

/* Dans un hover on va préciser le comportement de l'element au survol */

#contenu a:hover {
text-decoration: underline;
}

footer p {
    margin: 0;
    text-align: right;
    color: #8a0;
    line-height: 30px;
    padding-right: 10px;
}